.footer {
    display: block;
    top: 0;
    justify-content: space-between;
    background-color: rgb(238, 233, 233);
}

.footer_menu {
    display: flex;
    justify-content: center;
    align-items: center;
}

.footer_menu div {
    display: flex;
    gap: 20px;
}

.info {
    display: flex;
    flex: 1;
    text-align: left;
    border-top: 0.5px solid rgb(194, 192, 192);
    flex-direction: row;
    justify-content: space-around;
}

.info p {
    font-size: 15px;
}

.footer_info {
    display: flex;
    flex-direction: column;
}
