.main_container {
    display: flex;
    flex: 1;
    flex-direction: column;
}

.main_middle {
    display: flex;
    flex: 1;
    justify-content: space-around;
}

.main_random_products {
    display: flex;
    flex: 1;
    text-align: left;
    justify-content: center;
    line-height: 5px;
    font-size: 14px;
}

.likeCount {
    display: flex;
    align-items: center;
    gap: 5px;
}
